/* MEDIA QUERIES */
 .gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    align-items: flex-start;
    flex-wrap: wrap
    }
.about{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-content: center;
}
.nav{
    display: flex;
}
.nav__home{
    margin-right:auto;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
}
.contact__form{
    width: 500px;
}

@media (max-width: 768px) {
   
}

@media (max-width: 480px) {
    .nav{
        display: flex;
    }
    .nav__home{
        margin-right: auto;
    }
    }
  